@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "tailwindcss";

/*npx @tailwindcss/cli -i static/css/input.css -o static/css/output.css --watch*/

@theme {
    --font-amatic: "Amatic SC", serif;
    --font-roboto: "Roboto", serif;

    /* Colores primarios */
    --color-primary: #7CCF00;
    --color-secundary: #E7000B;
    --color-oscuro: #27272A;

    /* Colores fondo */
    --color-fondo-light: #FFFFFF;
    --color-fondo-gray: #F9FAFB;

    /* Colores bordes */
    --color-borde-gris: #ffffff4d;
    /* Colores texto */
    /* Colores texto */



}



.levitate {
    animation: levitate 2s infinite;
}

.shadow-3d {
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.3));
}

@keyframes levitate {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

/*Nuevos estilos para los botones*/
.button {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: var(--color-primary);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid var(--color-borde-gris);
    outline: none;
    overflow: hidden;
    font-size: 15px;
    cursor: pointer;
}

.icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
}

/* Eliminamos el hover para el brillo */
.button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.99),
            rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -100px;
    opacity: 0.6;

    /* La animación ahora dura 15s, pero el brillo solo ocurre en los primeros 1.5s */
    animation: shine 1.5s ease-out infinite;
    animation-delay: 0s;
    animation-duration: 15s;
    /* Hace que el brillo solo pase cada 20 segundos */
}

/* Definimos la animación */
@keyframes shine {
    0% {
        left: -100px;
    }

    5% {
        left: 100%;
    }

    /* Brillo pasa sobre el botón en los primeros 5% del tiempo */
    6% {
        left: 100%;
        opacity: 0;
    }

    /* Se oculta */
    100% {
        left: -100px;
        opacity: 0;
    }

    /* Espera sin hacer nada el resto del tiempo */
}

/*Fin de los nuevos estilos para los botones*/

#crud-modal {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
}


/*Efecto para las card del dashboard (card-pizza)*/
.card-hover-effect {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
  
  .card-hover-effect .card {
    transition: transform 400ms, filter 400ms;
  }
  
  .card-hover-effect:hover > .card:not(:hover) {
    filter: blur(5px);
    transform: scale(0.9, 0.9);
  }
  
  .card-hover-effect .card:hover {
    transform: scale(1.05, 1.05);
  }
  
  .card{
    z-index: 0;
  }

/*Fin del efecto para las card del dashboard (card-pizza)*/

.user-btn {
    width: 38px; 
    height:38px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid transparent; /* Borde invisible por defecto */
    position: relative;
    overflow: hidden;
    transition: border 0.5s ease-in-out;
}

.user-btn::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--color-secundary); /* Color verde */
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.5s ease-in-out;
    z-index: 0;
}

.user-btn:hover {
    border-color: var(--color-secundary); /* Aparece el borde */
}

.user-btn:hover::before {
    transform: scaleY(1); /* Efecto de llenado de abajo hacia arriba */
    
}

.user-btn i {
    position: relative;
    z-index: 1;
    font-size: 22px;
    color: #616161; /* Color del icono */
}

.user-btn:hover i {
    color: white;
}
/* Fin */


/* Modal de confirmación */
.card {
    max-width: 320px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.image {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: #fee2e2;
    border-radius: 50%;
}

.image svg {
    width: 24px;
    height: 24px;
    color: #dc2626;
}

.desactivate {
    background-color: #dc2626;
    color: white;
    border-radius: 4px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.cancel {
    background-color: #ffffff;
    border: 1px solid #d1d5db;
    color: #374151;
    border-radius: 4px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}
/* Fin del modal de confirmación */






  
