<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benedetto Pizza</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">

    <link rel="apple-touch-icon" sizes="180x180" href="static/img/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="static/img/favicon_io/site.webmanifest">
    </head>

<body class="bg-gray-100">

    {% block content %}{% endblock %}


    <script src="https://kit.fontawesome.com/aff82f5e8e.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/testimonios.js') }}"></script>
    <script src="{{ url_for('static', filename='js/menu_hamburguesa.js') }}"></script>
    <script src="{{ url_for('static', filename='js/eliminarRegistro.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
    <script src="{{ url_for('static', filename='js/validation_input.js') }}"></script>
    <script src="{{ url_for('static', filename='js/show_hide.js') }}"></script>
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pagination.js') }}"></script>
</body>

</html>