<!-- Footer -->
<footer class="bg-gray-900 py-8 text-white mt-12 px-6 sm:px-12 font-roboto">
    <div class="container mx-auto text-center md:text-left">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8">
            <div class="flex flex-col items-center md:items-start">
                <i class="fas fa-map-marker-alt text-red-600 text-2xl"></i>
                <p class="text-lg font-medium mt-2">Dirección</p>
                <p>Kr 24 #5-09 Barrio 6 de Enero &vert; Sincelejo - Sucre</p>
            </div>
            <div class="flex flex-col items-center md:items-start">
                <i class="fas fa-phone text-red-600 text-2xl"></i>
                <p class="text-lg font-medium mt-2">Contacto</p>
                <p>+57 322 5819567</p>
                <p>benedettopizza@hotmail.com</p>
            </div>
            <div class="flex flex-col items-center md:items-start">
                <i class="fas fa-clock text-red-600 text-2xl"></i>
                <p class="text-lg font-medium mt-2">Horario</p>
                <p>Lunes &ndash; Domingo</p>
                <p>4:30 PM &ndash; 11:00 PM</p>
            </div>
            <div class="flex flex-col items-center md:items-start">
                <p class="text-lg font-medium">Síguenos</p>
                <div class="flex space-x-4 mt-2">
                    <a href="#" class=" text-gray-400 text-2xl hover:text-red-600"><i class="fab fa-x-twitter"></i></a>
                    <a href="#" class=" text-gray-400 text-2xl hover:text-red-600"><i class="fab fa-facebook"></i></a>
                    <a href="#" class=" text-gray-400 text-2xl hover:text-red-600"><i class="fab fa-instagram"></i></a>
                    <a href="#" class=" text-gray-400 text-2xl hover:text-red-600"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <hr class="border-gray-700 my-6">
        <p class="text-sm text-center">&copy; 2025 Benedetto Pizza. Todos los derechos reservados.</p>
    </div>
</footer>