{% extends 'base.html' %}

{% block content %}
<div class="h-screen flex flex-col font-roboto">
    <!-- Contenedor principal -->
    <div class="flex bg-white rounded-lg shadow-xl overflow-hidden mx-auto sm:min-w-1/2 lg:max-w-4xl my-auto">
        <div class="w-full p-8 flex flex-col">

		
            <div class="container flex flex-col">
                <h2 class="text-2xl font-semibold text-zinc-700 text-center">Benedetto Pizza</h2>
                <div class="flex justify-center m-2">
                    <img src="{{url_for('static', filename='img/pizzas/logo.png')}}" alt="Logo" class="w-16 h16">
                </div>
                <p class="text-xl text-gray-800 text-center">Recupera tu contraseña</p>
                <div class="mt-4">
                    <label class="block text-sm font-semibold mb-2">Correo electrónico</label>
                    <input
                        class="bg-gray-200 text-negro focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none"
                        type="email" placeholder="Email" />
                </div>
                <!-- Boton de recuperación de contraseña -->
                <div class="mt-8">
                    <a href="{{ url_for('auth_bp.login') }}"
                        class="button">
                        Recuperar Constraseña
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>
{% include 'footer.html'   %}
{% endblock %}