{% extends 'base.html' %}

{% block content %}

{% include 'headerd.html' %}


<!-- Contenido -->
<main>


    <!-- Contenedor de empleados -->
    <div class="container font-roboto mt-8 mx-auto py-5">
        <div class="flex flex-col justify-center items-center py-4 gap-1 ">
            <h2 class="text-4xl font-medium text-zinc-800">Empleados</h2>
            <p class="font-light text-gray-800">¡Bienvenido al panel de control de Empleados!</p>
            <span class="mt-4 button">
                <a href="">Añadir Empleados</a>
            </span>
        </div>


    </div>
    <!-- Fin de contenedor de empleados -->

    {% include 'modal-empleados.html' %}


    <div class="container mx-auto p-5">
        <div class="overflow-x-auto bg-neutral-200 rounded-lg shadow-lg">
            <table class="w-full table-auto border-collapse">
                <thead>
                    <tr class="bg-zinc-800 text-white uppercase text-sm font-medium">
                        <th class="py-4 px-6 text-left">N° De Identificación</th>
                        <th class="py-4 px-6 text-left">Nombre y Apellido</th>
                        <th class="py-4 px-6 text-left">Cargo</th>
                        <th class="py-4 px-6 text-left">Salario</th>
                        <th class="py-4 px-6 text-left">Teléfono</th>
                        <th class="py-4 px-6 text-left">Email</th>
                        <th class="py-4 px-6 text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody id="
                " class="text-gray-700 text-sm font-medium">
                    {% for item in items %}
                    <tr class="border-b border-gray-300 hover:bg-gray-300 transition duration-200 ease-in-out">
                        <td class="py-4 px-6 bg-white">{{item.id}}</td>
                        <td class="py-4 px-6 bg-white">{{item.nombre}}</td>
                        <td class="py-4 px-6 bg-white">{{item.cargo}}</td>
                        <td class="py-4 px-6 bg-white">{{item.salario}}</td>
                        <td class="py-4 px-6 bg-white">{{item.telefono}}</td>
                        <td class="py-4 px-6 bg-white">{{item.email}}</td>
                        <td class="py-4 px-6 text-center bg-white">
                            <div class="flex items-center justify-center space-x-3">
                                <button
                                    class="p-2 text-blue-500 hover:text-blue-700 transition transform hover:scale-110">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                    </svg>
                                </button>
                                <button
                                    class="p-2 text-red-500 hover:text-red-700 transition transform hover:scale-110">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                    </svg>
                                </button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Tarjeta -->
    <!--     <div class="container mx-auto">
        <div class="flex flex-wrap m-4">
            {% for item in items %}
            <div class="w-full lg:w-1/2 p-4 {% if loop.last %}mx-auto{% endif %}">
                <div
                    class="rounded-lg overflow-hidden shadow-lg bg-white hover:shadow-xl transition-shadow duration-300">
                    <img class="w-full min-w-md h-auto object-contain" src="{{ item.image }}" alt="{{ item.title }}">
                    <div class="px-6 py-4 font-roboto">
                        <h2 class="text-xl mb-2 text-zinc-800">{{ item.title }}</h2>
                        <p class="text-gray-700 text-balance">{{ item.description }}</p>
                    </div>
                    <div class="px-6 py-4">
                        <button class="button">
                            {{ item.button_text|default('Ver más') }}
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div> -->

    <!-- Tarjeta Fin -->






    {% include 'footer.html' %}

</main>
{% endblock %}